/* Add box-sizing to containers */
.layout-container,
.layout-container > .views,
.view-container {
  box-sizing: border-box;
}

.layout-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.layout-container > .preview {
  position: absolute;
  opacity: 0;
  margin: 0;
  pointer-events: none;
  background-color: rgba(0, 100, 255, 0.3);
  border: 1px dashed rgba(0, 50, 200, 0.5);
  transition: opacity 0.2s ease-in-out;
  z-index: 20;
}

.layout-container > .views {
  display: flex;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.layout-container > .drag {
  position: absolute;
  margin: 0;
  padding: 0;
  cursor: move;
  z-index: 30;
}

.view-container {
    flex-grow: 1; flex-shrink: 1; min-width: 10px; min-height: 10px;
    height: 100%; width: 100%; overflow: hidden; position: relative;
    display: flex; flex-direction: column;
}

.view-container.empty-pane {
    background-color: #f0f0f0; border: 1px dashed #ccc; align-items: center;
    justify-content: center; color: #999; font-size: 0.8em;
}

.layout-container.edit .view-container { border: 1px dashed #aaa; cursor: move; }
.layout-container.edit .view-container.empty-pane { border: 1px dashed #ccc; cursor: default; }

.view-container > * { flex-grow: 1; overflow: auto; margin: 0; }

[pane-drag-handle] { cursor: grab; }
[pane-drag-handle]:active { cursor: grabbing; }